.gitignore.bk~
..gitignore.swp
..gitignore.un~
arguments.txt.bk~
gitRef.txt.bk~
.gitRef.txt.swp
.gitRef.txt.un~
ITCosts.txt.bk~
.ITCosts.txt.swp
.ITCosts.txt.un~
L100-Arguments & Language.txt.bk~
.L100-Arguments & Language.txt.swp
.L100-Arguments & Language.txt.un~
L200-Inductive Logics.txt.bk~
.L200-Inductive Logics.txt.swp
.L200-Inductive Logics.txt.un~
L300-Aristotelian Logics.txt.bk~
.L300-Aristotelian Logics.txt.swp
.L300-Aristotelian Logics.txt.un~
L400-Classical Logics.txt.bk~
.L400-Classical Logics.txt.swp
.L400-Classical Logics.txt.un~
L400-Classical Logics.jutohbak
L500-Modal Logics.txt.bk~
.L500-Modal Logics.txt.swp
.L500-Modal Logics.txt.un~
L510-Deontic Loigic.txt.bk~
.L510-Deontic Loigic.txt.swp
.L510-Deontic Loigic.txt.un~
L520-Temporal Logic.txt.bk~
.L520-Temporal Logic.txt.swp
.L520-Temporal Logic.txt.un~
L600-Non-Classical Logics.txt.bk~
.L600-Non-Classical Logics.txt.swp
.L600-Non-Classical Logics.txt.un~
L700-Metalogic.txt.bk~
.L700-Metalogic.txt.swp
.L700-Metalogic.txt.un~
L900-Fallacies & Cognitive Biases.txt.bk~
.L900-Fallacies & Cognitive Biases.txt.swp
.L900-Fallacies & Cognitive Biases.txt.un~
L999-Back Material.txt.bk~
.L999-Back Material.txt.swp
.L999-Back Material.txt.un~
LinuxCmdRef.txt.bk~
.LinuxCmdRef.txt.swp
.LinuxCmdRef.txt.un~
newComputerProcedure.txt.bk~
.newComputerProcedure.txt.swp
.newComputerProcedure.txt.un~
vimRef.txt.bk~
.vimRef.txt.swp
.vimRef.txt.un~

